<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Tab 2
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 2</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-list>
    <ion-item>
      <ion-label>{{compra.nombre}}</ion-label>

      <ion-label slot="end">{{compra.precio}}</ion-label>
    </ion-item>

    <ion-button color="danger" slot="end" (click)="onDeleteCompra()">Eliminar</ion-button>
    <ion-button color="primary" slot="end" (click)="onLessCompra()">-</ion-button>
    <ion-button color="primary" slot="end" (click)="onMoreCompra()">+</ion-button>
    <ion-label slot="end">{{cantidad}}</ion-label>

  </ion-list>
</ion-content>